.NavigationBar {
    display: flex;
    width: 100%;
    background-color: #353535;
}

.navbarContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
}


.link {
    color: antiquewhite;
    font-size: 1.2rem;
    text-decoration: none;
}